src/uploads/queue/user2025/1951 1952.xls
src/uploads/queue/user2025/21.03.25.docx
src/uploads/queue/user1/далеко бежит интро.wav
src/uploads/queue/john2022/21.03.25.docx
src/uploads/queue/admin/все идет по плану.wav
src/uploads/queue/admin/далеко бежит интро.wav
src/uploads/queue/john2022/Dnevnik_KSIKпреддипломная.doc
src/uploads/queue/john2022/datasets/25.03.25.docx
src/uploads/queue/john2022/py/21.03.25.docx
src/uploads/queue/john2022/py/02.04.25.docx
src/uploads/queue/models/john2022/02.04.25.docx
src/uploads/queue/models/john2022/1951 1952.xls
src/uploads/queue/admin123/models/ai_learn.py
src/uploads/queue/admin123/models/error_classifier_model.h5
src/uploads/queue/models/admin123/ai_learn.py
src/uploads/queue/models/admin123/label_encoder.pickle
src/uploads/queue/admin123/datasets/requirements.txt
src/db/database.go
